*,*::before,*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'MyFont';
    src: url('./roboto.ttf');
    font-weight: 600;
    font-style: normal;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'MyFont';
    z-index: 1;
}

/* setting up grid layout for the overall page */
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    z-index: 1;
}

/* styling for header */
header {
    width: 100%;
    height: 100%;
    background-color: #10b981;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* setting up grid layout for the main content of the page */
.main-content {
    background-color: #d1fae5;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100%;
}

/* styling for file bar */
.file-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6ee7b7;
}

.file-list {
    height: auto;
    width: 100%;
    padding: 15%;
}

.button-container {
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

.button-list, #file-name-button {
    text-decoration: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 100%;
    height: 50%;
    font-size: 1.2rem;
}

.button-list:hover, #file-name-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .5);
}

.add-file-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#addFileInput {
    width: 100%;
    height: 60%;
}

#appendFile, #cancelFile{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

#cancelFile:hover {
background-color: #9f1239;
}

#appendFile:hover {
    background-color: #10b981;
}

.file-name {
    list-style: none;
    margin-bottom: 20px;
}




/* grid layout for the task conent */
.task-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 80%;
    padding: 4% 5%;
}

/* task content styling */

.task-title {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
}

.title {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.add-task-button {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 1rem;
    width: auto;
    text-align: left;
    padding: 0;
}

.add-task-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .5);
}

/* styling for task list item */
.task-list {
    padding: 0;
}
.task-li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
}

.task-li:hover {
    background-color: rgba(255, 255, 255, .5);
}

.todo-title {
    flex-grow: 1;
}

.todo-complete {
    margin-right: 10px;
    height: 20px;
    width: 20px;
    display: flex;
    fill: black;
}

use {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.todo-delete {
    margin-left: 10px;
    height: 20px;
    width: 20px;
}

.todo-delete:hover {
    cursor: pointer;
}

/* styling for add task form */
.form-container {
    display: none;
}

.form-container.show{
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d1fae5;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 40%;
}

.form-title {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

#add-button{
    background: #10b981;
    border: 1px solid black;
    border-radius: 5px;
    height: 20%;

}

#add-button:hover {
    background-color: #d1fae5;
    cursor: pointer;
}

#task-name {
    height: 20%;
}

#due-date {
    height: 20%;
}

/* styling for when a task is completed */
.completed {
    text-decoration: line-through;
    color: #aaa;
}